/*
Se eu colocar apenas 'div', o estilo aplica para todos os elementos
div na página HTML
*/

div {
    font-weight: bold;
    color: red;
}

#bloco_principal {
    font-size: 24px;
}

.blocos_informacao {
    text-decoration: underline;
}

.blocos_imagem {
    color: blue;
}
