@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    min-height: calc(100vh - 40px);
    background: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0;
}
